@charset "utf-8";
/* CSS Document */

* {
	font-family: Segoe UI, sans-serif;
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
}

#herocontent {
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#heroimg {
	/* image source: https://www.manchesterfutsal.com/futsal/what-is-futsal/ */
	background: url(hero-image.jpg);
	filter: brightness(80%);
	background-position: center;
	height: 100%;
	background-size: cover;
	position: relative;
}

#headline{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#headline h1 {
	font-size: 40px;
	margin: 0 0 12px 0;
}

.button_1 {
	height: 40px;
	width: 100px;
	font-family: Segoe UI, sans-serif;
	background-color: #565CA7;
	border: none;
	color: white;
	margin: 0px 0 30px 0px;
}

.button_1:hover {
	transition: 320ms;
	background-color: #434882;
	box-shadow: -0px 6px 16px -6px #ccc;
	transform: translate(0, -1px);
}

/* header */
.container{
	width:94%;
	margin:auto;
	overflow:hidden;
}

header {
	background: #565CA7;
	color: white;
	width: 80%;
	margin: auto;
	padding-top: 30px;
	margin-bottom: 52px;
	min-height: 70px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 12px;
}

header a{
	color: #D7D7D7;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	
}

header .current a{
	font-weight: bolder;
	color: white;
}

header a:hover {
	color: #EBEBEB;
	font-weight: bold;
}

header li {
	float: left;
	display: inline;
	list-style: none;
	padding: 0 24px 0 24px;
}


/* media query */
@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#stories .story,
	#events .container,
	#events .container .event,
	#joinad .container,
	footer .container {
   	 	float:none;
    	text-align:center;
		width:100%
	}
	
	header nav{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}