@charset "utf-8";
/* CSS Document */

/* global */

body {
	margin: 0px;
	padding: 0px;
	font-family: Segoe UI, Helvetica, sans-serif;
}

body a{
	text-decoration: none;
	color: black;
}

a:hover {
	color: #1E66D7; 
}

ul {
	padding: 0px;
	margin: 0px;
}

.image {
	width: 380px;
	height: 240px;
}

#sectionheader {
	margin-top: 100px;
	
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}


/* header */

header {
	background: #565CA7;
	color: white;
	padding-top: 30px;
	min-height: 70px;
}

header #branding {
	float: left;
}

header nav {
	float: right;
	margin-top: 12px;
}

header a{
	color: #D7D7D7;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	
}

header h1 {
	display: inline;
}

header .current a{
	font-weight: bolder;
	color: white;
}

header a:hover {
	color: #EBEBEB;
	font-weight: bold;
}

header li {
	float: left;
	display: inline;
	padding: 0 24px 0 24px;
}

/* Stories */

.story {
	float: left;
	text-align: left;
	width: 32%;
	padding: 0 2px 0 0; 
}

/* events */

.event {
	padding-bottom: 12px;
	float: left;
	text-align: left;
	width: 24%;
	padding: 0 0 8 0; 
}

.event h5 {
	font-size: 20px;
	padding: 0;
	margin: 0;
}

.event p {
	padding: 0;
	margin: 0;
}

/* join advertisement */

#joinad {
	background: #565CA7;
	color: white;
	margin-top: 52px;
	
}

#joinad h5 {
	font-weight: 600;
	margin: 36px 0 4px 0;
	font-size: 16px;
	padding: 0;
}

#joinad h3 {
	font-weight: 400;
	font-size: 56px;
	margin: 0px 0 0px 0;
	padding: 0;
	text-transform: uppercase;
}

#joinad h4 {
	font-weight: lighter;
	font-size: 20px;
	margin: 10px 0 36px 0;
	padding: 0;
}

#joinad h2 {
	font-weight: lighter;
	font-family: Segoe MDL2 Assets;
	font-size: 20px;
	margin: 10px 0 36px 0;
	padding: 0;
}

#joinad a{
	color: white;
}

#joinad a:hover {
	color: black;
}

/* footer */

footer {
	background-color: #272727;
	color: white;
}