@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
}

headertext{
	font-family: Segoe UI, sans-serif;
	padding-bottom: 0px;
	padding-top: 0px;
	font-size:40px;
	color:white;
}

h1 {
	font-family: Segoe UI, sans-serif;
	padding-bottom: 2px;
	padding-top: 4px;
}

h2 {
	font-family: Segoe UI, sans-serif;
	padding-bottom: 0px;
	padding-top: 4px;
}

h3 {
	font-family: Segoe UI, sans-serif;
	padding-bottom: 2px;
	padding-top: 0px;
}

h4 {
	font-family: Segoe UI, sans-serif;
	padding-bottom: 2px;
	padding-top: 4px;
}
/*
	h5 is used for advertisement subheader
	h6 is used for advertisement title
	h7 is used for advertisement body
*/

h5 {
	font-family: Segoe UI, sans-serif;
	margin:0px 0px 0px 16px;
	font-weight:bold;
	color:white;
	font-size:18px;
}

h6 {
	font-family: Segoe UI, sans-serif;
	margin:0px 0px 0px 16px;
	font-weight:lighter;
	color:white;
	font-size:50px;
}

h7 {
	font-family: Segoe UI, sans-serif;
	margin:0px 0px 0px 16px;
	font-weight:normal;
	color:white;
}


p{
	font-family: Segoe UI, sans-serif;
	padding-bottom: 4px;
	padding-top: 0px;
	margin:0px;
}

pa{
	font-family: Segoe UI, sans-serif;
	padding-bottom: 4px;
	padding-top: 0px;
	margin:0px;
	color:white;
}

pb{
	font-family: Segoe UI, sans-serif;
	padding-bottom: 4px;
	padding-top: 0px;
	margin:0px;
	color:white;
	font-size: 28px;
}

.sectionheader{
	grid-area:sectionheader;
}

#wrapper {
	display:grid; 
	grid-template-areas:
		"header"
		"lateststories"
		"events"
		"joinclubadvertisement"
		"footer";
}

#header{
	background-color:black;
	grid-area:header;
}

#lateststories{
	display:grid;
	grid-template-columns: 1 fr;
	grid-template-rows:auto;
	grid-template-areas:
		"sectionheader"
		"story1"
		"story2";
}

#story1{
	grid-area:story1;
}

#story2{
	grid-area:story2;
}


#logo {
	padding-bottom:0;
}

#joinclubadvertisement {
	background-color:#563FB4;
	height:200px;
	display:grid;
	margin-top: 20px;
	grid-template-areas:
		"sectionheader"
		"adsubtitle"
		"adhead"
		"adbody";
}

#adbody{
	grid-area:adbody;
}

#adhead{
	grid-area:adhead;
}

#adtsubtitle{
	grid-area:adsubtitle;
}

.eventname {
	width: 150px;
	height: 80px;
	background-color: lightgrey;
	grid-area: eventname;
}

.eventdate {
	width: 86px;
	height: 80px;
	background-color:red;
	grid-area: eventdate;
}

#events{
	display:grid;
	grid-template-areas:
		"sectionheader"
		"event1"
		"event2";
}

#event1{
	grid-area: event1;
	display: grid;
	grid-template-areas:
		"eventdate eventname";
}

#event2{
	grid-area: event2;
	display: grid;
	grid-template-areas:
		"eventdate eventname";
	margin-top: 10px;
	grid-template-columns: 1 fr 1 fr;
}

#footer{
	grid-area:footer;
	background-color:dimgrey;
	height:50px; 
}